body {
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
}

.app {
    position: relative;
}

.container{
    position: absolute;
    background-color: #a8bfb6;
    
    left: 0;
    right: 0;
    margin: auto;

    width: 50vh;
    top: 50vh;
    transform: translateY(-80%);
}
.input{
    opacity: 50%;

}